body {
  position: relative;
  left: 0; /* Initially position the body at its normal position */
  transition: left 0.5s ease; /* Add a transition for smooth animation */
}

.body-shifted {
  left: 100%; /* Move the body content to the right when shifted */
}


.popup {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff; /* Adjust the background color as needed */
    overflow: hidden;
    transition: height 0.5s, bottom 0.5s;
  }
  
  .popup button {
    width: 100%;
    height: 50px; /* Adjust the button height as needed */
    background-color: #ff7b54; /* Adjust the button background color as needed */
    color: #fff;
    font-size: 1rem;
    font-weight: 900;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .popup input[type="date"]{
    height: 50px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }
  
  .popup p{
    font-size: 1.3rem;
    color: #000;
    margin: 50px 0;
  }
  
  .wrapper{
    width: 100%;
    height: 100%;
  }
  
  .to-wrappers{
    padding: 0 20px;
    height: 100%;
    width: 100%;
    color: #000;
  
  }
  
  .to-wrappers p{
    margin: 20px 0 0 0;
    font-size: 1rem;
  }
  
  .to-wrappers input{
    height: 43px;
    width: 100%;
    margin-top: 5px;
    border: none;
    border-bottom: 1px #3a4039 solid;
    padding: 0 0 5px 5px;
    font-size: 1.4rem;
  }
  
  .to-wrappers h5{
    margin-top: 25px;
    font-size: 1rem;
  }
  
  .scroll-sec{
    margin-top: 30px;
    height: 60vh;
    overflow: auto;
  }
  
  .to-wrappers .place{
    border: 1px #3a4039 solid;
    width: 100%;
    height: 65px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  
  .to-wrappers .place p{
    font-size: 1.1rem;
    margin-top: 12px;
  }
  
  .to-wrappers .place span{
    color: #3a4039;
    opacity: 1;
    font-size: 0.7rem;
  }
  
  .to-wrappers .place:hover{
    background-color: #ff7b54
  }

.paymentMethod{
  height: 100%;
  width: 100%;
}

.paymentMethod input{
  height: 50px;
  width: 60%;
}


.loading-overlay {
            display: none;
            position: fixed;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.8);
            justify-content: center;
            align-items: center;
            z-index: 999;
        }

        .spinner {
            border: 8px solid rgba(0, 0, 0, 0.1);
            border-top: 8px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .custom-alert {
            display: none;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 1000;
            transition: opacity 3s ease;
            color: #000;
            width: 80%;
            text-align: center;
         
        }

        .custom-alert.show {
    opacity: 1; /* Change opacity to 1 when the class "show" is added */
}


.show-overlay {
  display: block; /* Show the overlay when this class is added */
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
    background: #000;
    opacity: 0.7;
}

.custom-alert.show {
  /* Adjust the styles for the alert when the overlay is active */
   /* Make sure the alert is on top of the overlay */
 z-index: 1001;
}